@import "tailwindcss";

/* @import "../node_modules/@my-company/ui-lib"; */

@theme {
	--color-primary: #ffb833;
	--color-primary-hover: #ffa90a;
	--color-primary-text: #001524;
	--color-disabled: #707070;
	--color-dark: #001524;
	--color-green: #226f54;
	--color-yellow: #ffb833;
	--color-gray: #707070;
	--color-red: #a0030b;
	--color-light-background: #fff8eb;
	--color-text-muted: #757575;
	--color-text-dark: #1a1a1a;
	--color-gray-light: #f3f4f6;
	--color-black: #000000;
	--color-gray-medium: #d1d5db;

	--font-nunito: "Nunito", sans-serif;
	--font-open-sans: "Open Sans", sans-serif;
}

:root {
	--background: #ffffff;
	--foreground: #001524;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #001524;
		--foreground: #ffffff;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-nunito), sans-serif;
}
