@import "tailwindcss";

/* @import "../node_modules/@my-company/ui-lib"; */

@theme {
	--color-primary: #ffb833;
	--color-primary-hover: #ffa90a;
	--color-primary-text: #001524;
	--color-disabled: #707070;
	--color-dark: #001524;
	--color-green: #226f54;
	--color-yellow: #ffb833;
	--color-gray: #707070;
	--color-red: #a0030b;
	--color-light-background: #fff8eb;
	--color-text-muted: #757575;
	--color-text-dark: #1a1a1a;
	--color-gray-light: #f3f4f6;
	--color-black: #000000;
	--color-gray-medium: #d1d5db;

	--font-nunito: "Nunito", sans-serif;
	--font-open-sans: "Open Sans", sans-serif;
}

:root {
	--white: #ffffff;
	--dark: #001524;
	--green: #226f54;
	--yellow: #ffb833;
	--gray: #707070;
	--red: #a0030b;
	--light-background: #fff8eb;
	--text-muted: #757575;
	--text-dark: #1a1a1a;
	--gray-light: #f3f4f6;
	--black: #000000;
	--gray-medium: #d1d5db;

	--background: var(--white);
	--foreground: var(--dark);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--dark);
		--foreground: var(--white);
		--light-background: #2d3748;
		--text-muted: #a0aec0;
		--text-dark: #f7fafc;
		--gray-light: #4a5568;
		--gray-medium: #718096;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-nunito), sans-serif;
}
